job-board-backend_no_container/node/node_modules/
job-board-frontend/node_modules/

# Ignoră mediul virtual Python din backend
job-board-backend_no_container/flask/venv38/

# Alte fișiere comune care nu trebuie încărcate
.DS_Store
.idea/
.vscode/
*.log
*.swp

# Ignoră fișierele generate de Angular
job-board-frontend/dist/
job-board-frontend/.angular/

# Ignoră cache-ul Python
job-board-backend_no_container/flask/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignoră fișierele de configurare sensibile
.env
.env.local
.env.development
.env.production
.env.test


# Ignoră SQLite și fișierele temporare Flask
job-board-backend_no_container/flask/*.sqlite3
job-board-backend_no_container/flask/temp/
job-board-backend_no_container/flask/uploads/